.main{
    background-color: aqua;
  height: 200px;
  width: 300px;
   margin-top: 150px;
   margin-left: 300px;
   border: solid 10px black;
}

.sub{
    
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

#a{
    background-color: red;
    color: aliceblue;
}